// 默认的主题颜色
@mainText:var(--mainText, rgba(255,255,255,0.6));
@mainActiveText:var(--mainActiveText, rgba(255,255,255,0.8));
@chartTooltipBg: var(--chartTooltipBg, rgba(255,255,255,0.6));

@menuText:var(--menuText, rgba(255,255,255,0.6));
@menuActiveText:var(--menuActiveText, #FFA41C);
@menuActiveLeft: var(--menuActiveLeft, #409EFF);

@menuBg:var(--menuBg, #2d2e36);
@menuHoverBg:var(--menuHoverBg, rgba(255, 255, 255, 0.1));
@subMenuBg:var(--subMenuBg, #2d2e36);
@submenuHoverBg:var(--submenuHoverBg, rgba(255, 255, 255, 0.1));
@menuPopperBg: var(--menuPopperBg, rgb(166 203 241 / 20%));

@MaincontainerBg:var(--MaincontainerBg, #060A18);
@mainBg:var(--mainBg, #23242b);
@inputBg:var(--inputBg, #2A2B33);
@searchPrimaryBtnBg:var(--searchPrimaryBtnBg, #2A2B33);
@selDropdownBg:var(--selDropdownBg, #2A2B33);
@tablecontainerbg:var(--tablecontainerbg, rgb(26 29 36 / 90%));
@tableheaderBg:var(--tableheaderBg, #272C35);
@tableHoverBg:var(--tableHoverBg, #272C35);
@tableStripedBg: var(--tableStripedBg, #2A2B33);
@tablesplit:var(--tablesplit, #666);
@tableColor: var(--tableColor, rgba(255,255,255,0.6));

@btnprimary:var(--btnprimary, #FFA41C);
@btncolor:var(--btncolor, #fff);
@btnprimaryhover:var(--btnprimaryhover, rgb(241 169 64));

@paginationColor: var(--paginationColor, rgba(255, 255, 255, 0.6));
@paginationBorderColor: var(--paginationBorderColor, #605f5f);
@paginationBg: var(--paginationBg, #23242b);
@paginationHoverBg: var(--paginationHoverBg, rgba(255, 255, 255, 0.1));

@dialogbg:var(--dialogbg, #23242B);
@dialogSplit:var(--dialogSplit, #484951);
@placeholder:var(--placeholder, #484951);

@selActiveBg:var(--selActiveBg, #e5e5e5);
@selActiveText:var(--selActiveText, #4e6ef2);

@screenline:var(--screenline, #00c2ff);

// 导出变量
:export {
  name: "less";
  mainText: @mainText;
  mainActiveText: @mainActiveText;
  chartTooltipBg: @chartTooltipBg;

  menuText: @menuText;
  menuActiveText: @menuActiveText;
  menuActiveLeft: @menuActiveLeft;
  menuBg: @menuBg;
  menuHoverBg: @menuHoverBg;
  subMenuBg: @subMenuBg;
  submenuHoverBg: @submenuHoverBg;
  menuPopperBg: @menuPopperBg;
  
  MaincontainerBg: @MaincontainerBg;
  mainBg:@mainBg;
  inputBg: @inputBg;
  searchPrimaryBtnBg: @searchPrimaryBtnBg;
  selDropdownBg: @selDropdownBg;

  tablecontainerbg: @tablecontainerbg;
  tableheaderBg: @tableheaderBg;
  tableHoverBg: @tableHoverBg;
  tableStripedBg: @tableStripedBg;
  tablesplit: @tablesplit;
  tableColor: @tableColor;

  btnprimary: @btnprimary;
  btncolor: @btncolor;
  btnprimaryhover: @btnprimaryhover;

  paginationColor: @paginationColor;
  paginationBorderColor: @paginationBorderColor;
  paginationBg: @paginationBg;
  paginationHoverBg: @paginationHoverBg;

  dialogbg: @dialogbg;
  dialogSplit: @dialogSplit;
  placeholder: @placeholder;

  selActiveBg:@selActiveBg;
  selActiveText:@selActiveText;

  screenline: @screenline;
}