<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.ship.mapper.ShipMapper">

    <select id="queryById" parameterType="String" resultType="org.dromara.ship.domain.vo.ShipVo">
        SELECT * FROM ship where id = ${id}
    </select>

    <select id="queryPageList" resultType="org.dromara.ship.domain.vo.ShipVo">
        SELECT * FROM ship ${ew.customSqlSegment}

    </select>

    <insert id="insertByBo" parameterType="org.dromara.ship.domain.vo.ShipVo">
        insert INTO ship(id,name,imo_num,platform,desc) values(#{id},#{name},#{imo_num},#{platform},#{desc})

    </insert>

    <update id="updateByBo" parameterType="org.dromara.ship.domain.vo.ShipVo">
        UPDATE ship
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="imo_num != null">
                imo_num = #{imo_num},
            </if>
            <if test="platform != null">
                platform = #{platform},
            </if>
            <if test="desc != null">
                desc = #{desc},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteWithValidByIds" parameterType="List" >
        DELETE FROM ship
        WHERE id IN
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>
